{% extends "base_generic.html" %}
{% block content %}
<h1> Author: {{author.first_name}},{{author.last_name}}</h1>
<div style="margin-left:20px;margin-top:20px">
	<h3>{{author.date_of_birth}} - {{author.date_of_death}}</h3>
<div style="margin-left:20px;margin-top:20px">
	<h4>Books</h4>
  <ul>
	{% for copy in author.book_set.all %}
	
	<a href="{{ copy.get_absolute_url }}">{{copy.title}}</a>
	<p>{{copy.summary}}</p>
	{% endfor %}
  </ul>
   {% if user.is_authenticated %}
  {% if perms.catalog.can_view_borrowed %}
  <h5>Edit Details</h5>
	<ul>
  	<li><a href = "{%url 'author-update' author.pk %}">update author</a></li>
  	<li><a href = "{%url 'author-delete' author.pk %}">delete author</a></li>
  	</ul>
  	{% endif %}
  	{% endif %}

{% endblock %}